@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;500;600;700&display=swap');
    
*{

      /* colors */
    --bg-color: #202135ff;
    --bg-color-light: #242539ff;
    --light-shade-color:#e2b374ff;
    --dark-shade-color:#c59c6bff;
    --text-color-light: #6d6d72ff;
    --text-white-color:#f1f1f2ff;
    --text-red-color: #eb5757ff;

         /*font*/
         --header-font:'Open Sans', sans-serif;
         --normal-font:'Lato', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--normal-font);
    background-color: var(--bg-color);
}

p , span {
    color: var(--text-color-light);
}

h1 {
    font-family: var(--header-font);
    color: var(--text-white-color);
    font-weight:500;
}

h2,h3 {
    font-family: var(--header-font);
    color: var(--text-color-light);
    font-weight:500; 

}

@media screen {

    .app-rc {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position:fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }
}
    
/* ipad/tablet */
@media only screen and (min-width:48.0em){ 
}

/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {
}

/* large screens : Desktop and 4k screens */
@media only screen and (min-width:64.063em) and (max-width:90.0em) {
}

/* 5k screens and above */
@media only screen and (min-width:91.0em) {
}
