@media screen {
.img-container {
    margin: 50px 0;
    display:flex;
    flex-direction:column;
 
}


.img-h-txt {
    
    display:flex;
    margin:20px 0;
    align-items:center;
    flex-direction:column;
    justify-content:center;
  
}

.img-h-txt h1 {
    font-size:1rem;
}

.img-h-txt h3 {
    font-size:.7rem;
  
}

.layout-container {

    display:flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.img-layout .project-img {
    height: 300px;
    width: 100%;
    border-radius: 12px;
    object-fit: center;
    object-position: fill;
    margin:10px 0;
}

.hide {
    display:none;
}

.btn-img {
    border: 1px solid var(--dark-shade-color );
    color: var(--light-shade-color);
    background-color:transparent;
    padding: 20px 10px;
    font-size:.7rem;
    cursor:pointer;
    outline: none;
    margin: 30px 0;
    width:100%;

    
}

.btn-img:hover {

    border: none;
    background-color: var(--text-red-color);
    color:var(--text-white-color);
    
}

.triangle-p {
    position: absolute;
    z-index: -1;
    height: 400px;
}


.align {
    display:flex;
    align-items:center;
    justify-content:center;
}

}

/* ipad/tablet */
@media only screen and (min-width:48.0em){ 
    
    .img-container {
        height:70%;
    }
    
    .layout-container {
        padding: 20px;
        gap: 30px;
  
    }

    
    .img-h-txt {
        margin:20px 0;
  
    }

    .img-h-txt h1 {
        font-size:1.2rem;
    }
    
    .img-h-txt h3 {
        font-size:.8rem;
      
    }


    
    .hide {
       display:block; 
    }


    .img-layout .project-img {
        height: 200px;
        width: 100%;
        border-radius: 12px;
        object-fit: center;
        object-position: center;
    }
    

    .img-layout {
        flex: 40%;
        padding: 0;
        border-radius: 20px;
    }
    
    .project-img {
        margin-top: 10px;
        vertical-align: middle;
    }

    .btn-img {
        padding: 25px 10px;
        font-size:.9rem;
        margin: 40px 0;
        
    }

    .triangle-p {
        height: 800px;
    }



}

/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

    .img-container {
        height:70%;
        margin: 50px 0;
        padding: 100px 0; 
    }
    
    .layout-container {
        padding: 20px;
        gap: 30px;
  
    }

    
    .img-h-txt {
        margin:20px 0;
  
    }

    .img-h-txt h1 {
        font-size:1.2rem;
    }
    
    .img-h-txt h3 {
        font-size:.9rem;
      
    }

     
    .hide {
        display:block; 
     }

    .img-layout .project-img {
        height: 100px;
        width: fit-content;
        border-radius: 12px;
        object-fit: center;
        object-position: center;
        margin:30px;
    }
    

    .img-layout {
        flex: 30%;
        padding: 0;
        border-radius: 20px;
    }
    
    .project-img {
        margin-top: 10px;
        vertical-align: middle;
    }

    .btn-img {
        padding: 25px 10px;
        font-size:.9rem;
        margin: 40px 0;
        width:40%;
      
        
    }

    .triangle-p {
        height: 700px;
    }

}

/* large screens : Desktop and 4k screens */
@media only screen and (min-width:64.063em) and (max-width:90.0em) {


    .img-container {
        height:70%;
        padding: 200px 0; 

    
    }
    
    .layout-container {
        padding: 50px;
        gap: 40px;
  
    }


     
    .hide {
        display:block; 
     }
    
    .img-h-txt {
        margin:20px 0;
  
    }

    .img-h-txt h1 {
        font-size:1.5rem;
    }
    
    .img-h-txt h3 {
        font-size:1rem;
      
    }

    .img-layout .project-img {
        object-position: center;
        border-radius: 12px;
        object-fit: center;
        width: fit-content;
        height: 150px;
        margin:30px;
    }
    

    .img-layout {
        flex: 30%;
        padding: 0;
        border-radius: 20px;
    }
    
    .project-img {
        margin-top: 10px;
        vertical-align: middle;
    }

    .btn-img {
        padding: 25px 10px;
        font-size:1rem;
        margin: 40px 0;
        width:20%;
      
        
    }
    
    .triangle-p {
        height: 800px;
        
    }


}


/* 5k screens and above */
@media only screen and (min-width:91.0em) {

    .img-container {
        height:100%;
        padding: 300px 0; 
    
    }
    
    .layout-container {
        padding: 100px;
        gap: 10px;
  
    }

     
    .hide {
        display:block; 
     }

    .img-h-txt h1 {
        font-size:1.5rem;
    }
    
    .img-h-txt h3 {
        font-size:1rem;
      
    }

    .img-layout .project-img {
    height: 150px;
    width: fit-content;
    border-radius: 12px;
    object-fit: center;
    object-position: center;
    margin:30px;
}


    .img-layout {
        flex: 30%;
        padding: 0;
        border-radius: 20px;
    }
    
    .project-img {
        margin-top: 10px;
        vertical-align: middle;
    }

    .btn-img {
        padding: 25px 10px;
        font-size:1rem;
        margin: 40px 0;
        width:20%;
      
        
    }
    
    .triangle-p {
        height: 800px;
        
    }

}
